<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecycle.commodity.mapper.BiddingRecordMapper">

    <resultMap id="BaseResultMap" type="com.ecycle.commodity.model.BiddingRecord">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="billCode" column="bill_code" jdbcType="VARCHAR"/>
            <result property="commodityId" column="commodity_id" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="commodityAmount" column="commodity_amount" jdbcType="DECIMAL"/>
            <result property="serviceCharge" column="service_charge_receivable" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,bill_code,commodity_id,
        creator_id,status,commodity_amount,
        service_charge,create_time,
        confirm_time
    </sql>
    <select id="getOtherBiddingByCommodityId" resultType="com.ecycle.commodity.model.BiddingRecord">
        SELECT *
        FROM ecycle_bidding_record
        WHERE status != 'CLOSED'
          AND id != #{orderId}
          AND commodity_id = #{commodityId};
    </select>
    <select id="getHighestAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(MAX(commodity_amount), 0)
        FROM ecycle_bidding_record
        WHERE status != 'CLOSED'
          AND commodity_id = #{commodityId};
    </select>
    <select id="queryMineAll" resultType="com.ecycle.commodity.web.info.OrderQueryResponse">
        SELECT a.*, b.name commodityName, b.info commodityInfo, b.cover_file_id coverId
        FROM ecycle_bidding_record a
        LEFT JOIN ecycle_commodity b ON a.commodity_id = b.id
        WHERE a.creator_id = #{buyerId}
        <if test="param.status != null">
            AND a.status = #{param.status}
        </if>
        ORDER BY a.create_time
    </select>
    <select id="loadUserBiddingByCommodityId" resultType="com.ecycle.commodity.model.BiddingRecord">
        SELECT * FROM ecycle_bidding_record WHERE commodity_id = #{commodityId} AND creator_id = #{userId}
    </select>
</mapper>
