<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecycle.commodity.mapper.CommodityMapper">

    <resultMap id="BaseResultMap" type="com.ecycle.commodity.model.Commodity">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="creatorId" column="creator_id" jdbcType="VARCHAR"/>
            <result property="belongId" column="belong_id" jdbcType="VARCHAR"/>
            <result property="pageViews" column="page_views" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" jdbcType="DECIMAL"/>
            <result property="serviceCharge" column="service_charge" jdbcType="DECIMAL"/>
            <result property="addressId" column="address_id" jdbcType="VARCHAR"/>
            <result property="coverFileId" column="cover_file_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,`name`,info,
        category_id,create_time,modify_time,
        creator_id,belong_id,page_views,
        `status`,amount,price,
        quantity,service_charge,
        address_id,cover_file_id
    </sql>
    <update id="saveCommoditiesPageViews">
        UPDATE ecycle_commodity SET page_views = #{pageViews} WHERE id = #{id};
    </update>
    <select id="pageQueryAll" resultType="com.ecycle.commodity.model.Commodity">
        SELECT a.*
        FROM ecycle_commodity a
        LEFT JOIN ecycle_commodity_category b ON a.category_id = b.id
        WHERE a.status = 'SELLING'
        <if test="params.input != null and params.input != ''">
            AND ( a.name LIKE CONCAT('%',#{params.input},'')
            OR b.name LIKE CONCAT('%',#{params.input},''))
        </if>
        ORDER BY a.modify_time
    </select>
</mapper>
